name: CI
on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: 'yarn'

      - run: yarn install --frozen-lockfile
      - run: yarn workspaces foreach -pt --no-private run "yarn lint && yarn build"
