name: CI
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[release]')"
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
          cache: "yarn"

      - run: yarn install --frozen-lockfile
      - run: yarn lint && yarn build-ci
