# Once Changesets PR is merged, this will publish to npm, do a release on GitHub, and update any CHANGELOGs
name: Publish & Release
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    permissions:
      contents: write # to create release (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          # This makes action fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Set-up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "yarn"

      - run: yarn install --frozen-lockfile

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          # comment out publish to avoid auto-publishing to NPM
          publish: yarn release
          title: Release
          commit: "[release]"
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_ACCESS_TOKEN }}

      # - name: Send Slack notifications
      #   if: steps.changesets.outputs.published == 'true'
